---
- name: install redis
  yum: name=redis

- name: Start Redis and enable at boot
  systemd: name=redis
           enabled=yes
           state=started

- name: add env var for daphne
  lineinfile:
    line: 'DJANGO_SETTINGS_MODULE=djat.settings'
    path: /etc/environment
