---
- name: add epel repo for extra packages from fedora
  yum: name=epel-release

- name: install vim
  yum: name=vim

- name: install net-tools for netstat
  yum: name=net-tools

- name: install python packages
  yum: name={{ item }}
  with_items:
    - python34

- name: install redis
  yum: name=redis

- name: Start Redis and enable at boot
  systemd: name=redis
           enabled=yes
           state=started
